@page "/clientes"
@rendermode InteractiveServer
@inject ILogger<Clientes.Index> Logger

<h3>Clientes <span class="btn btn-success"> + </span></h3>
@if (ShowForm)
{
    <div class="container">
        <h4>Registrar nuevo cliente</h4>
        <EditForm FormName="clienteForm" Model="@Request" OnValidSubmit="Guardar">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="mt-2">
                <label class="form-label">Nombre:</label>
                <input class="form-control" @bind="Request.Nombre"/>
                <ValidationMessage For="()=>Request.Nombre"/>
            </div>
            <div class="mt-2">
                <label class="form-label">Email:</label>
                <input class="form-control" @bind="Request.Email" />
                <ValidationMessage For="() => Request.Email" />
            </div>

            <div class="mt-2">
                <label class="form-label">Teléfono:</label>
                <input class="form-control" @bind="Request.Telefono" />
                <ValidationMessage For="() => Request.Telefono" />
            </div>

            <div class="mt-2">
                <label class="form-label">Dirección:</label>
                <textarea class="form-control" @bind="Request.Direccion" />
            </div>

            <div class="mt-2 mb-2">
                <label class="form-label">Activo:</label>
                <InputCheckbox class="form-check" @bind-Value="Request.Activo" />
            </div>

            <button class="btn btn-success" type="submit">Ok</button>
        </EditForm>
    </div>
}
else
{
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Busqueda</span>
      <input @bind="Filtro" type="text" class="form-control" placeholder="Escribe el dato a consultar" aria-label="filtro" aria-describedby="basic-addon1">
        <span @onclick="Consultar" class="btn btn-outline-success" >
            Buscar
      </span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">...</th>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            @if (Listado.Count > 0)
            {
                @foreach (var cliente in Listado)
                {
                    <tr>
                        <th scope="row">
                            <div class="btn-group">
                                <span class="btn btn-outline-warning">Editar</span>
                                <span class="btn btn-outline-danger">Eliminar</span>
                            </div>
                        </th>
                        <th>@cliente.Id</th>
                        <th>@cliente.Nombre</th>
                        <th>@cliente.Telefono</th>
                        <th>@cliente.Email</th>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="5">
                        <center>No hay registros</center>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    public bool ShowForm { get; set; } = true;
    public ClienteDto Request { get; set; } = new();

    public string Filtro { get; set; } = string.Empty;
    public List<ClienteDto> Listado { get; set; } = [];
    /// <summary>
    /// Metodo para consultar los clientes
    /// </summary>
    /// <returns></returns>
    private async Task Consultar() {  }

    private async Task Guardar() { 
        Logger.LogInformation("Guardando cliente: {@Cliente}", System.Text.Json.JsonSerializer.Serialize(Request));
        // Aquí se llamaría al servicio para guardar el cliente
        // Por ejemplo: await _clienteService.GuardarAsync(Request);
        ShowForm = false; // Ocultar el formulario después de guardar
     }
}
